body {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.card-option {
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    height: 100%;
}
.card-option:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.icon-container {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #0d6efd;
}
.title {
    margin-bottom: 2rem;
    color: #343a40;
    font-weight: 600;
}


/*Estilo para Errores */
#error-container {
    transition: all 0.3s ease;
    display: none;
}

#error-container.show {
    display: block;
}